:host {
  display: block;
  width: 60%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 24px 16px;
}

.title {
  font-size: 24px;
}

.contents {
  width: 340px;
  margin-top: 36px;
}

input {
  height: 32px;
  width: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
}

.fullname,
.password {
  display: flex;
  :not(:first-child) {
    margin-left: 8px;
  }
}

.username {
  margin-top: 24px;
}

.password {
  margin-top: 24px;
}

.action {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  height: 32px;
  color: white;
  background-color: #1a73e8;
  padding: 0px 24px;
  border: none;
  border-radius: 4px;
}
