<div class="title">
  <span>ダミーアカウントの作成</span>
</div>

<div class="contents">
  <form [formGroup]="form">
    <div class="fullname">
      <input type="text" formControlName="familyName" placeholder="姓" />
      <input type="text" formControlName="firstName" placeholder="名" />
    </div>
    <ng-container *ngIf="form?.errors?.emptyFullName">
      <div class="error-message">氏名を入力指定ください</div>
    </ng-container>
    <ng-container *ngIf="form?.errors?.emptyFirstName">
      <div class="error-message">名前（姓）を入力してください</div>
    </ng-container>
    <ng-container *ngIf="form?.errors?.emptyFamilyName">
      <div class="error-message">名前（名）を入力してください</div>
    </ng-container>

    <div class="username">
      <input type="text" formControlName="userName" placeholder="ユーザー名" />
    </div>
    <ng-container *ngIf="userName?.errors?.required">
      <div class="error-message">ユーザー名は必須です</div>
    </ng-container>
    <ng-container *ngIf="userName?.errors?.minlength">
      <div class="error-message">ユーザー名は 6 文字から 30 文字の間で設定する必要があります</div>
    </ng-container>

    <div class="password">
      <input type="password" formControlName="password" placeholder="パスワード" />
      <input type="password" formControlName="passwordConfirmation" placeholder="確認" />
    </div>
    <ng-container *ngIf="password?.errors?.required">
      <div class="error-message">パスワードを入力</div>
    </ng-container>
    <ng-container *ngIf="password?.errors?.minlength">
      <div class="error-message">パスワードは 8 文字以上で設定してください</div>
    </ng-container>
    <ng-container *ngIf="form.errors?.unmatchPassword">
      <div class="error-message">パスワードが一致しませんでした</div>
    </ng-container>

    <div class="action">
      <button type="submit" class="submit-button" (click)="onSubmit()">次へ</button>
    </div>
  </form>
</div>
