<div class="title">
  <span>ダミーアカウントの作成</span>
</div>

<div class="contents">
  <form [formGroup]="form">
    <div class="fullname">
      <input type="text" formControlName="familyName" placeholder="姓" />
      <input type="text" formControlName="firstName" placeholder="名" />
    </div>
    <div class="username">
      <input type="text" formControlName="userName" placeholder="ユーザー名" />
    </div>
    <div class="password">
      <input type="text" formControlName="password" placeholder="パスワード" />
      <input type="text" formControlName="passwordConfirmation" placeholder="確認" />
    </div>

    <div class="action">
      <button type="submit" class="submit-button" (click)="onSubmit()">次へ</button>
    </div>
  </form>
</div>
